<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Safari Webpage Icon    by-BY -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <style>
        /* 样式以使图标固定在底部右侧 */
        .chatbot-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: blue; /* 设置蓝色背景 */
            border-radius: 50%; /* 使图标变成圆形 */
            width: 50px; /* 设置图标的宽度 */
            height: 50px; /* 设置图标的高度 */
            display: flex;
            align-items: center;
            justify-content: center;
            color: white; /* 设置图标内文字的颜色为白色 */
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- Chatbot 的内容 -->
<div id="chatbot-content" style="display: none;">
    <!-- 这里放置 Chatbot 的内容，可以引用 chatbot.html 文件或其他内容 -->
    <iframe src="chatbot.html" style="width: 100%; height: 100%;"></iframe>
</div>

<!-- 固定的 Chatbot 图标 -->
<div class="chatbot-icon" onclick="toggleChatbot()">凡</div>

<!-- JavaScript 控制 Chatbot 显示和隐藏 -->
<script>
    // 切换 Chatbot 的显示和隐藏状态
    function toggleChatbot() {
        var chatbotContent = document.getElementById("chatbot-content");
        if (chatbotContent.style.display === "none") {
            chatbotContent.style.display = "block"; // 显示 Chatbot 内容
        } else {
            chatbotContent.style.display = "none"; // 隐藏 Chatbot 内容
        }
    }
</script>
</body>